<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RPCArea</servlet-name>
        <servlet-class>org.helpdesk.server.RPCAreaImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCAreaSoporte</servlet-name>
        <servlet-class>org.helpdesk.server.RPCAreaSoporteImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCBien</servlet-name>
        <servlet-class>org.helpdesk.server.RPCBienImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCEstatus</servlet-name>
        <servlet-class>org.helpdesk.server.RPCEstatusImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCImpresion</servlet-name>
        <servlet-class>org.helpdesk.server.RPCImpresionImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCMarca</servlet-name>
        <servlet-class>org.helpdesk.server.RPCMarcaImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCModelo</servlet-name>
        <servlet-class>org.helpdesk.server.RPCModeloImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCMovimientosFolios</servlet-name>
        <servlet-class>org.helpdesk.server.RPCMovimientosFoliosImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCPrioridad</servlet-name>
        <servlet-class>org.helpdesk.server.RPCPrioridadImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCTipoIncidencia</servlet-name>
        <servlet-class>org.helpdesk.server.RPCTipoIncidenciaImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCUnidad</servlet-name>
        <servlet-class>org.helpdesk.server.RPCUnidadImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCUsuarioReporta</servlet-name>
        <servlet-class>org.helpdesk.server.RPCUsuarioReportaImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCUsuarioSoporte</servlet-name>
        <servlet-class>org.helpdesk.server.RPCUsuarioSoporteImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFoliosXUnidadXDiagnosticos</servlet-name>
        <servlet-class>org.helpdesk.server.ServletFoliosXUnidadXDiagnosticos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFoliosXUnidadXDiagnosticosFinales</servlet-name>
        <servlet-class>org.helpdesk.server.ServletFoliosXUnidadXDiagnosticosFinales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRPTFoliosXAreaSoporte</servlet-name>
        <servlet-class>org.helpdesk.server.ServletRPTFoliosXAreaSoporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRPTFoliosXUnidad</servlet-name>
        <servlet-class>org.helpdesk.server.ServletRPTFoliosXUnidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRPTIncidencia</servlet-name>
        <servlet-class>org.helpdesk.server.ServletRPTIncidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCArchivo</servlet-name>
        <servlet-class>org.helpdesk.server.RPCArchivoImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImprimir</servlet-name>
        <servlet-class>org.helpdesk.server.ServletImprimir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RPCDocRef</servlet-name>
        <servlet-class>org.helpdesk.server.RPCDocRefImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RPCArea</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCAreaSoporte</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcareasoporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCBien</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcbien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCEstatus</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCImpresion</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcimpresion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCMarca</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcmarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCModelo</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcmodelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCMovimientosFolios</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcmovimientosfolios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCPrioridad</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcprioridad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCTipoIncidencia</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpctipoincidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCUnidad</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcunidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCUsuarioReporta</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcusuarioreporta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCUsuarioSoporte</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcusuariosoporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFoliosXUnidadXDiagnosticos</servlet-name>
        <url-pattern>/org.helpdesk.Main/ServletFoliosXUnidadXDiagnosticos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRPTIncidencia</servlet-name>
        <url-pattern>/org.helpdesk.Main/ServletRPTIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRPTFoliosXUnidad</servlet-name>
        <url-pattern>/org.helpdesk.Main/ServletRPTFoliosXUnidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRPTFoliosXAreaSoporte</servlet-name>
        <url-pattern>/org.helpdesk.Main/ServletRPTFoliosXAreaSoporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFoliosXUnidadXDiagnosticosFinales</servlet-name>
        <url-pattern>/org.helpdesk.Main/ServletFoliosXUnidadXDiagnosticosFinales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCArchivo</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcarchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImprimir</servlet-name>
        <url-pattern>/org.helpdesk.Main/ServletImprimir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RPCDocRef</servlet-name>
        <url-pattern>/org.helpdesk.Main/rpcdocref</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/helpdesk</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
